{block title}Equipment{/block}

{block content}
<div id="equip" data-role="page">
	<script>
		var currentIsotope = '#equip';
	</script>
	<div class="isotope-item">
		<h1>Equipment</h1>
	</div>

	<div class="isotope-item">
		<p>This is a Nette Isotope jQueryMobile Equipment page</p>
	</div>
	
	<div class="isotope-item">
		<p><a n:href="Cars:">Browse cars to see more items</a></p>
	</div>
</div>

{/block}